.intern-container {
    margin-top: 20px;
    height: 85vh;
    background-color: var(--white-color);
    box-shadow: var(--primary-box-shadow);
    border-radius: var(--box-radius);
}

.intern-main {
    padding: 15px;
    width: 100%;
    height: 100%;
}

.category-heading {
    font-size: 18px;
    font-weight: 700;
    color: var(--border-color);
}

.table-data {
    margin-top: 30px;
    max-height: 75vh;
    overflow-y: scroll;
    border-radius: var(--box-radius);
    box-shadow: 1px 3px 8px -3px #ccc;

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #FFF;
    }
    
    &::-webkit-scrollbar {
        width: 6px;
        height: 50px;
        background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(142deg, #00D2FF 3.45%, #3A7BD5 92.1%);
    }
}

.todo-label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--border-color);
}

.todo-content {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-body {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: var(--box-radius);
    background-color: var(--white-color);
}